#fondo_centros {
    padding: 2rem;
}
 
#titulo_centros {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
 
#nombre_torneo {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
 
#texto_error {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    width: 50%;
    margin: auto;
}
 
/* Contenedor de tarjetas */
#contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}
 
#tarjeta_centro {
    border: 0.063rem solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: left;
    width: 30%;
    min-width: 280px;
}
 
#info_centro p {
    padding: 1rem;
    margin: 0;
}
 
/* Responsividad */
@media (max-width: 1024px) {
    #tarjeta_centro {
        width: 45%;
    }
}
 
@media (max-width: 768px) {
    #tarjeta_centro {
        width: 90%;
    }
}
 
@media (max-width: 480px) {
    #tarjeta_centro {
        width: 100%;
    }
}